body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  color: white;
  text-align: center;
  display: flexbox;
  flex-direction: row-reverse;
}

.footer-container.footer-one {
  background-color: yellowgreen;
}

.footer-container.footer-two {
  width: 30%;
  background-color: rgb(4, 34, 8);
}
